@media (min-width: 90rem) {
  .team-container {
    margin: 22rem auto;
  }

  .team-title {
    font-size: 5.2rem;
  }

  .founder-header h2,
  .team-header h2,
  .achievements-header h2 {
    font-size: 4.6rem;
  }
}


@media (max-width: 80rem) {
  .team-title {
    font-size: 4.2rem;
  }

  .founder-card {
    padding: 4rem;
  }
}

@media (max-width: 64rem) {

  .nav-links {
    display: none;
  }

  .menuClose {
    display: block;
  }

  /* Layout adjustments */
  .team-container {
    margin: 16rem auto;
  }

  .team-title {
    font-size: 3.8rem;
  }

  .founder-card {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .founder-tags {
    justify-content: center;
  }

  .team-grid,
  .achievements-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-top {
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
}

@media (max-width: 48rem) {

  .navbar {
    width: 100%;
    padding: 1rem;
  }

  .nav-container {
    width: 100%;
    padding: 1rem 1.6rem;
  }

  .logo span {
    font-size: 2rem;
  }

  /* Sections */
  .team-title {
    font-size: 3.4rem;
  }

  .founder-header h2,
  .team-header h2,
  .achievements-header h2 {
    font-size: 3.6rem;
  }

  .team-grid,
  .achievements-grid {
    grid-template-columns: 1fr;
  }

  .footer-top {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 30rem) {

  .logo span {
    font-size: 1.8rem;
  }

  aside {
    right: 1.2rem;
    width: calc(100% - 2.4rem);
  }

  .team-title {
    font-size: 3rem;
  }

  .team-description,
  .founder-header p,
  .team-header p {
    font-size: 1.5rem;
  }

  .founder-card {
    padding: 3.2rem 2.4rem;
  }
}

@media (max-width: 22.5rem) {

  .logo-icon,
  .footer-logo-icon {
    width: 3rem;
    height: 3rem;
  }

  .team-title {
    font-size: 2.6rem;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }
}
